@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .dropdown-toggle::after {
  display: none !important;
}
.table-container {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
}
.no-frame {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.modal.show .modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.modal {
  overflow: visible !important;
}

.modal-dialog {
  overflow: visible !important;
}

.modal-content {
  overflow: visible !important;
}
